[build]
  command = "npm run build"
  publish = "dist"

[build.environment]
  # Tell Netlify these keys are expected in the build output and SHOULD NOT trigger secrets scanning
  SECRETS_SCAN_OMIT_KEYS = "VITE_FIREBASE_API_KEY,VITE_FIREBASE_APP_ID,VITE_FIREBASE_AUTH_DOMAIN,VITE_FIREBASE_MEASUREMENT_ID,VITE_FIREBASE_MESSAGING_SENDER_ID,VITE_FIREBASE_PROJECT_ID,VITE_FIREBASE_STORAGE_BUCKET,VITE_GEMINI_API_KEY"
